
[Unit]
Description=trading by mxc robot with the best price

[Service]
User=jupyter-sheng_wei
Group=jupyter-sheng_wei
Restart=always
Environment="PYTHONPATH='.'"
WorkingDirectory=/home/jupyter-sheng_wei/crypto-currency-stabilizer
ExecStart=/opt/tljh/user/bin/python -m ccstabilizer.mxc

[Install]
WantedBy=multi-user.target
